<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ReadUser</servlet-name>
        <servlet-class>Servlets.ReadUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUser</servlet-name>
        <servlet-class>Servlets.ViewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>Servlets.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>Servlets.DeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadUser</servlet-name>
        <url-pattern>/ReadUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUser</servlet-name>
        <url-pattern>/ViewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
